body {
  background: #000405;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

#heading {
  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #4285F4;
}

.container {
  display: flex;
  margin-top: 20px;
}

input {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #4285F4;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 250px;
  text-align: center;
}

input:focus {
  border-color: #F4B400;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.weather-info, .weather-info1, .weather-info2, .weather-info3 {
  margin-top: 30px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-info {
  background-color: #DB4437;
}

.weather-info1 {
  background-color: #F4B400;
}

.weather-info2 {
  background-color: #4285F4;
}

.weather-info3 {
  background-color: #0F9D58;
}

.weather-info h2, .weather-info1 h2, .weather-info2 h2, .weather-info3 h2 {
  margin: 0 0 10px 0;
  color: white;
}

.weather-info p, .weather-info1 p, .weather-info2 p, .weather-info3 p {
  margin: 5px 0;
  color: white;
}

.weather-location {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #00ffee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containerTop, .containerBottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}
